/ProjektDBGUI/EigeneKomponente/nbproject/private/
/ProjektDBGUI/EigeneKomponent/nbproject/private/
/ProjektDBGUI/EigeneKomponent/build/
/ProjektDBGUI/EigeneKomponent/dist/
/ProjektDBGUI/PolynomialExercise/build/
/ProjektDBGUI/PolynomialExercise/dist/
/ProjektDBGUI/PolynomialExercise/nbproject/private/
/ProjektDBGUI/TimeAndDate/nbproject/private/
/ProjektDBGUI/TimeAndDate/build/